<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Midterm 2</title>
</head>

<body>
  <div id="admin" class="content">
    <h1>Store Management Interface</h1>
    <div class="heading">
      <h2>Add an Item</h2>
    </div>
    <div class="add">
      <div class="form">
        Product Name <input v-model="title" placeholder="Title">
        <p></p>
        Price <input v-model="descript" placeholder="Price">
        <p></p>
        <input type="file" name="photo" @change="fileChanged">
        <button @click="upload">Add Product</button>
      </div>
<!--      <div class="form">
        <input v-model="descript" placeholder="Description">
        <p></p>
      </div>-->
      <div class="upload" v-if="addItem">
        <h2>{{addItem.title}}  -  {{addItem.descript}}</h2>
        <img :src="addItem.path" />
      </div>
    </div>
    
    
    <div class="heading">
      <h2>Current Products</h2>
    </div>
    
    <!--<div id="app" class="content">                        <!--Added, to dislplay current products
    <section class="image-gallery">
      <div class="image" v-for="item in items">
        <h2>{{item.title}} - {{item.descript}}</h2>
        <img :src="item.path" />
      </div>
  </div>-->
  
  <div v-for="item in items">    
    <section class="image-gallery">                       <!--testing-->
      <span class="glyphicon glyphicon-remove"
        v-on:click="deleteItem(item)"></span>
        {{item.title}} - price {{item.descript}} - ordered: {{item.orders}}
        <img :src="item.path" />
      </div>
  </div>
  
  <!--<h1>Current Candidates</h1>                    Template from voting
    <div v-for="candidate in candidates">
      <span class="glyphicon glyphicon-remove" 
        v-on:click="deleteCandidate(candidate)"></span> 
        {{candidate.Name}} - votes {{candidate.votes}}
    </div>-->
    
    <!--<div class="edit">
      <div class="form">
        <input v-model="findTitle" placeholder="Search">
        <div class="suggestions" v-if="suggestions.length > 0">
          <div class="suggestion" v-for="s in suggestions" @click="selectItem(s)">{{s.title}}
          </div>
        </div>
      </div>
      <div class="upload" v-if="findItem">
        <input v-model="findItem.title">
        <input v-model="findItem.descript">
        <p></p>
        <img :src="findItem.path" />
      </div>
      <div class="actions" v-if="findItem">
        <button @click="deleteItem(findItem)">Delete</button>
        <button @click="editItem(findItem)">Edit</button>
      </div>
    </div>-->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/admin.js"></script>
</body>

</html>
