<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Midterm 2</title>
</head>

<body>
  <div id="admin" class="content">
    <h1>Music Manager</h1>
    <p>To add music for adding to libraries, enter the album title, artist, and upload the album artwork.</p>
    <hr>
    <br>
    <br>
    <div class="heading">
      <h2>Add an Album</h2>
    </div>
    <div class="add">
      <div class="form">
        Album Title <input v-model="title" placeholder="Title">
        <p></p>
        Album Artist <input v-model="descript" placeholder="Artist">
        <p></p>
        <input type="file" name="photo" @change="fileChanged">
        <button @click="upload">Add Album</button>
      </div>

      <div class="upload" v-if="addItem">
        <h2>{{addItem.title}}  -  {{addItem.descript}}</h2>
        <img :src="addItem.path" />
      </div>
    </div>
    
    <div class="heading">
      <h2>Current Albums</h2>
    </div>
  
  <div v-for="item in items">    
    <section class="image-gallery">                       <!--testing-->
      <span class="glyphicon glyphicon-remove"
        v-on:click="deleteItem(item)"></span>
        {{item.title}} - Artist: {{item.descript}}<!-- - ordered: {{item.orders}}-->
        <img :src="item.path" />
      </div>
  </div>
  
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/admin.js"></script>
</body>

</html>
